.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}

.nav-img{
  display: flex;
  justify-content: center;
}

.nav-img img{
  cursor: pointer;
}

.menu-list{
  display: flex;
  list-style-type: none;
}

.menu-list li{
  padding: 10px;
}

.menu-area{
  display: flex;
  justify-content: center;
}

.search-box input{
  border:none;
}

.search-box{
  position: absolute;
  right: 20px;
  padding: 5px;
  border-bottom: 1px double black;
}

.Product-img:hover{
  box-sizing: border-box;
}

.login-nav{
  width: 500px;
}

.product-img{
  display: flex;
  justify-content: flex-end;
}

.img-font{
  font-size: 20px;
}

.title-item{
  border: 1px solid gray;
}